/* Upper Nav Bar Styling */

.nav__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: small;
    margin: 10px;
    padding: 10px;
}

.sign-in,
.get-started {
    color: green;
    text-decoration: none;
    padding: 5px;
}

.get-started {
    border: 1px solid green;
}

.upper__left {
    width: 20px;
    height: 20px;
}

/* Lower Nav Bar Styling */

.nav__lower {
    font-size: small;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.nav__lower a {
    text-decoration: none;
}

/* Content Styling */

.content {
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: small;
}

h1 {
    font-family: sans-serif;
    font-size: 20pt;
    text-align: left;
    justify-content: center;
    font-weight: bold
}

h2 {
    font-family: sans-serif;
    font-size: 15pt;
}

.main__img {
    height: 500px;
    width: 500px
}

/* Footer Styling */

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.footer__left {
    width: 20px;
    height: 20px;
}

.about,
.help {
    padding: 5px;
    margin: 5px;
    font-size: small;
}

/* Grid Styling */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.grid a {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
}
