.box1 {
  background-color: blueviolet;
  border: 5px solid rgb(0, 0, 255);
  /* Alternatively: 5px solid blue; */

}

.box2 {
  background-color: greenyellow;
  border: 2px dotted rgb(255, 0, 0);
  border-radius: 5px;
  /* Alternatively 2px dotted red; */
}

.text1 {
  color: rgb(255, 195, 0);
  background-color: blue;
}

.text2 {
  color: rgb(235, 62, 71);
  background-color: burlywood;
}

.box3 {
  background-color: rgba(230, 230, 250, 0.6);
}

.box5 {
  border: 0px none rgb(0, 0, 0);
  box-shadow: rgb(0, 128, 128) 8px 20px 15px 0px;
  background-color: lemonchiffon;
}

.box6 {
  border: 0px none rgb(0, 0, 0);
  box-shadow: rgb(128, 0, 0) 5px -10px 0px 0px;
  background-color: papayawhip;
}

h2 {
  opacity: 0.5;
}

/* do not change below this line */

body {
  padding: 20px;
}

.container {
  position: relative;
}

.box4 {
  top: 0;
  left: 5px;
  background-color: hotpink;
  position: absolute;
  z-index: -1;
}

.text {
  width: 500px;
  padding: 5px;
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  box-sizing: border-box;
}
