* {
    margin: 5px;
    padding: 2.5px;
    font-family: sans-serif;
}

body {
    padding: 5px;
    margin: 10px;
}

h1,
h2 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

p,
li {
    font-size: small;
}

li {
    font-weight: 700;
}

/* "Box Properties" section */

#boxImage {
    box-sizing: border-box;
    height: 50%;
    width: 45%;
    max-height: 200px;
    max-width: 250px
}

.box-List-Image ul {
    box-sizing: border-box;
    width: 45%;
}

.box-List-Image {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Table of Contents */

nav ul{
    list-style: none;
}

nav {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    height: auto;
    color: blue;
}

nav li {
    font-weight: 400;
}
